<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="form-group">
    <%= f.label :hairstylepost, :tag_list %>
    <%= f.text_field :tag_list, value: @hairstylepost.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :experience, "美容師歴" %><br />
    <%= f.text_field :experience, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :slogan, "キャッチコピー" %><br />
    <%= f.text_area :slogan, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :selfintroduction, "自己紹介" %><br />
    <%= f.text_area :selfintroduction, class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<script type="text/javascript">
      $('#hairstylist_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
