<% provide(:title, "Home") %>
<h1>ChokiChoki Beauty</h1>
<h2>
  Welcome to ChokiChoki Beauty!
</h2>
<div class="top_page">
<% if hairstylist_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "新しいヘアスタイルを投稿する", new_hairstylepost_path, class: "btn btn-lg btn-primary" %>
      <%#section class="micropost_form"%>
        <%#= render 'shared/hairstylepost_form' %>
      <%#/section%>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="btn">
        <li><%= link_to "掲載をご希望のスタイリストはこちら", new_hairstylist_registration_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "お気に入りのヘアスタイルを探す", hairstyleposts_path, method: :get, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </div>
  </div>
<% end %> 
</div>