<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <p>ユーザー名: <%= @user.username %></p>
        <p>メールアドレス: <%= @user.email %></p>
      </h1>
    </section>
  </aside>
</div>
