<%= form_for(@hairstylepost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :image, "ヘアスタイル写真をアップロード" %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.label :hairstylepost, "タグ" %>
    <%= f.text_field :tag_list, value: @hairstylepost.tag_list.join(','), class: "form-control" %>

    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, placeholder: "Compose new hairstylepost..." %></br>

    <%= f.label :description, "詳細説明" %><br />
    <%= f.text_area :description, placeholder: "Compose new hairstylepost..." %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>