<li id="micropost-<%= hairstylepost.id %>">
  <span class="content">
    <%= link_to "/hairstyleposts/#{hairstylepost.id}" do %>
    <%#= link_to hairstylepost_path(current_hairstylepost) do %>
      <%#= hairstylepost.hairstylepictures.each do |hairstylepicture| %>
        <%#= image_tag hairstylepicture.picture_url.url if hairstylepicture.picture_url.present? %>
      <%# end %>
    <%= image_tag (hairstylepost.hairstylepictures[0].picture_url.url if hairstylepost.hairstylepictures.present?), size:'300x400' %>
    <%#= image_tag hairstylepost.hairstylepictures.picture_url %>
    <h2><%#= hairstylepost.title %></h2>
    <%#= hairstylepost.description %>
    <% end %>
  </span>
  <span class="timestamp">
    <%# Posted <%= time_ago_in_words(hairstylepost.created_at) %> <%# ago. %>
    <% if current_hairstylist?(hairstylepost.hairstylist) %>
      <%= link_to "投稿を編集", "/hairstyleposts/#{hairstylepost.id}/edit" %>
      <%= link_to "投稿を削除", hairstylepost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>