<% provide(:title, "Edit hairstylepost") %>
<h1>投稿したヘアスタイルを編集する</h1>

<!--
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/hairstylepost_form' %>
  </div>
</div>
-->


<div class="main">
  <section class="main__block">
    <%= form_with model:@hairstylepost, local:true do |f| %>
      <h2 class="sell__block__head">
        ヘアスタイルを編集する
      </h2>
      <div class="sell__block__form">
        <div class="sell__block__form__upload">
          <h3 class="sell__block__form__upload__head">
            ヘアスタイル画像
            <span class="require">必須</span>
          </h3>
          <p>最大５枚までアップロードできます</p>
          <div class="post__drop__box__container">
            <div class="prev-content">
            <!--JSで挿入したhtmlと同じ形　each文でのプレビュー表示 -->
              <% @hairstylepost.hairstylepictures.each do |hairstylepicture| %>
                <div class="preview-box">
                  <div class="upper-box">
                    <%= image_tag hairstylepicture.picture_url.url, width: "112", height: "112", alt: "preview" %>
                  </div>
                  <div class="lower-box">
                    <!--
                    <div class="update-box">
                      <label class="edit-btn">編集</label>
                    </div>
                    -->
                    <div class="delete-box">
                      <div class="delete-btn">
                        <span>削除</span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="label-content">
            <!--プレビューの数に合わせてforオプションを指定 -->
              <%= f.label :"hairstylepictures_attributes_#{@hairstylepost.hairstylepictures.length}_picture_url", class: "label-box", id: "label-box--#{@hairstylepost.hairstylepictures.length}" do %>
                <pre class="label-box__text-visible">クリックして画像をアップロード</pre>
              <% end %>
            </div>
            <div class="hidden-content">
              <!--プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置 -->
              <%= f.fields_for :hairstylepictures do |i| %>
                <%= i.file_field :picture_url, class: "hidden-field" %>
                <%= i.check_box:_destroy, class: "hidden-checkbox" %>
              <% end %>
              <!-- 5つのfile_fieldを準備するに当たって、足りない分を表示 -->
              <% @hairstylepost.hairstylepictures.length.upto(4) do |i| %>
                <input class="hidden-field" id="hairstylepost_hairstylepictures_attributes_<%= i %>_picture_url" name="hairstylepost[hairstylepictures_attributes][<%= i %>][picture_url]" type="file"></input>
              <% end %>
            </div>
          </div>
        </div>
        <div class="sell__block__form__name">
          <div class="form-group__name">
            <label>
              ヘアスタイルタイトル
              <span class="require">必須</span>
            </label>
            <div>
              <%= f.text_field :title, placeholder:"タイトル", class: "form__group__name" %>
            </div>
          </div>
          <div class="form-group__name">
            <label>
              ヘアスタイルの詳細説明
              <span class="require">必須</span>
            </label>
            <div>
              <%= f.text_area :description, placeholder:"ヘアスタイルの詳細説明を編集",class: "form__group__name" %>
            </div>
          </div>
          <div class="form-group__name">
            <label>
              タグ
              <span class="require">必須</span>
            </label>
            <div>
              <%= f.text_field :tag_list, value: @hairstylepost.tag_list.join(','), class: "form-control" %></br>
            </div>
          </div>
        </div>
        <div class="sell__block__form__btn">
        <div>
          <%= f.submit "post",class: "btn-default__btn-red" %>
        </div>
      </div>
    <% end %>
  </section>
</div>
