<div class="row">
<div class="col-md-12">
<h1>ヘアスタイルを探す</h1>
<%= form_tag hairstyleposts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %> 

<ol class="microposts">

  <%= render @hairstyleposts %>

</ol>
</div>
</div>