<div class="main">
  <section class="main__block">
    <%= form_with model:@hairstylepost, local:true do |f| %>
      <h2 class="sell__block__head">
      新しいヘアスタイルを投稿する
      </h2>
      <div class="sell__block__form">
        <div class="sell__block__form__upload">
          <h4 class="sell__block__form__upload__head">
          ヘアスタイル画像
            <span class="require">必須</span>
          </h4>
          <p>最大５枚までアップロードできます</p>
          <div class="post__drop__box__container">
            <div class="prev-content"></div>
            <div class="label-content">
              <label class="label-box" for="hairstylepost_hairstylepictures_attributes_0_picture_url" id="label-box--0">
                <pre class="label-box__text-visible">クリックして画像をアップロード</pre>
              </label>
            </div>
            <div class="hidden-content">
              <%= f.fields_for :hairstylepictures do |i| %>
                <%= i.file_field :picture_url, class: "hidden-field" %>
                <input class="hidden-field" id="hairstylepost_hairstylepictures_attributes_1_picture_url" name="hairstylepost[hairstylepictures_attributes][1][picture_url]" type="file"></input>
                <input class="hidden-field" id="hairstylepost_hairstylepictures_attributes_2_picture_url" name="hairstylepost[hairstylepictures_attributes][2][picture_url]" type="file"></input>
                <input class="hidden-field" id="hairstylepost_hairstylepictures_attributes_3_picture_url" name="hairstylepost[hairstylepictures_attributes][3][picture_url]" type="file"></input>
                <input class="hidden-field" id="hairstylepost_hairstylepictures_attributes_4_picture_url" name="hairstylepost[hairstylepictures_attributes][4][picture_url]" type="file"></input>
              <% end %>
            </div>
          </div>
        </div>
        <div class="sell__block__form__name">
          <div class="form-group__name">
            <label>
              ヘアスタイルタイトル
              <span class="require">必須</span>
            </label>
            <div>
              <%= f.text_field :title, placeholder:"タイトル",class: "form__group__name" %>
            </div>
          </div>
          <div class="form-group__name">
            <label>
              ヘアスタイルの詳細説明
              <span class="require">必須</span>
            </label>
            <div>
              <%= f.text_area :description, placeholder:"ヘアスタイルの詳細説明を記入してください",class: "form__group__name" %>
            </div>
          </div>
          <div class="form-group__name">
            <label>
              タグ
              <span class="require">必須【複数タグをつける際は「,」（半角コンマ）で区切って記入してください】</span>
            </label>
            <div>
              <%= f.text_field :tag_list, value: @hairstylepost.tag_list.join(','), class: "form-control" %></br>
            </div>
          </div>
        </div>
        <div class="sell__block__form__btn">
          <div>
            <%= f.submit "投稿する",class: "btn-default__btn-red" %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>