<div id="micropost-<%= @hairstylepost.id %>">
  <div class="details">
    <ul class="img" >
      <% @hairstylepost.hairstylepictures.each do |hairstylepicture| %>
        <li>
        <%= image_tag (hairstylepicture.picture_url.url if hairstylepicture.picture_url.present?), size:'300x400' %>
        </li>
      <% end %>
      <%#= image_tag @hairstylepost.hairstylepictures.first.picture_url.url if @hairstylepost.hairstylepictures.first.picture_url? %>
    </div>
    <h2><%= @hairstylepost.title %></h2>
    <h3><%= @hairstylepost.description %></h3>
  </div>
  <span class="timestamp">
  　Posted <%= time_ago_in_words(@hairstylepost.created_at) %> ago.
    <% if current_hairstylist?(@hairstylepost.hairstylist) %>
      <%= link_to "投稿を編集", "/hairstyleposts/#{@hairstylepost.id}/edit" %>
      <%= link_to "投稿を削除", @hairstylepost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div class="profile-link">
    <%= link_to "スタイリスト情報を確認して予約する","/hairstylists/#{@hairstylepost.hairstylist.id}", class: "btn btn-lg btn-primary" %>
  </div>
</div>