<% provide(:title, "Edit hairstylist") %>
<h1>プロフィールを編集する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@hairstylist) do |f| %>
      <%= render '/shared/error_messages', object: f.object %>
      
      
      <%= f.label :stylistname, "スタイリスト名" %>
      <%= f.text_field :stylistname, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :image, "プロフィール画像" %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>


      <%= f.label :experience, "美容師歴" %><br />
      <%= f.text_field :experience, class: "form-control" %>

      <%= f.label :slogan, "自己紹介キャッチコピー" %><br />
      <%= f.text_area :slogan, class: "form-control"%>

      <%= f.label :selfintroduction, "自己紹介詳細" %><br />
      <%= f.text_area :selfintroduction, class: "form-control"%>

      <%= f.label :youtube, "YouTube" %>
      <%= f.text_field :youtube, class: 'form-control' %>


      <%= f.label :line, "LINEのID" %>
      <%= f.text_field :Line, class: 'form-control' %>

      <%= f.submit "更新する", class: "btn btn-primary" %>
    <% end %>

    <script type="text/javascript">
      $('#hairstylist_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script>
  </div>
</div>