<div class="row">
  <div class="col-md-12">
    <section class="hairstylsit_info">
      <h1>スタイリスト情報</h1>
        <div class="hairstylist_image">
          <% if @hairstylist.picture? %>
            <%= image_tag @hairstylist.picture.url %>
          <% else %>
            <%= image_tag "noimage.jpg" %>
          <% end %>
        </div>
        <div class="hairstylist_profile">
          <h2>スタイリスト名　<%= @hairstylist.stylistname %></h2>
          <% unless @hairstylist.experience.blank? %>
            <h2>美容師歴　<%= @hairstylist.experience %>年</h2>
          <% end %>
          <div class self-introduction box>
            <h2><%= @hairstylist.slogan %></h2> <!--キャッチコピー -->
            <h3><%= @hairstylist.selfintroduction %></h3> <!-- 自己紹介詳細 -->
          </div>
          <!--<h2>得意な長さ</h2>
          <h2>得意な施術</h2>
          <h2>得意な雰囲気</h2> -->
        </div>
    </section>
      <div class="contact">
        <h3>予約はこちらから！</h3>
        <li>
          <h4>メールアドレス：　<%= @hairstylist.email %></h4>
          <h4>LINEのID：　<%= @hairstylist.Line %></h4>
        </li>
      </div>
  </div>
  <div class="col-md-12">
    <div class="hairstyle_box" >
      <% if @hairstylist.hairstyleposts.any? %>
      <div class="text">
        <h3>担当したヘアスタイル (<%= @hairstylist.hairstyleposts.count %>)</h3>
      </div>
        <ol class="microposts">
          <%= render @hairstyleposts %>
        </ol>
        <%= will_paginate @hairstyleposts %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "スタイリスト情報を編集する", edit_hairstylist_path(current_hairstylist) if hairstylist_signed_in? %>
<%= link_to "ホームへ戻る", root_path %>