<footer class="footer">  
  <small>
    The <a href="https://railstutorial.jp/">ChokiChoki Beauty</a>
    by <a href="https://camp.potepan.com/">Hiroya Mizuno</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>