<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ChokiChoki Beauty", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ヘアスタイルを探す", hairstyleposts_path, method: :get %></li>
            <% if user_signed_in? %>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 アカウント設定 <b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                 <li><%= link_to "ユーザープロフィール", current_user %></li>
                 <li><%= link_to "ユーザー情報詳細設定", edit_user_registration_path(current_user) %></li>
                 <li class="divider"></li>
                 <li>
                   <%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete %>
                 </li>
               </ul>
             </li>
            <% else %>
              <li><%= link_to "ユーザーログイン", new_user_session_path %></li>
            <% end %>
            <% if hairstylist_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  アカウント設定 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "スタイリスト情報", current_hairstylist %></li>
                  <li><%= link_to "スタイリスト情報を編集する", edit_hairstylist_path(current_hairstylist) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "スタイリストログアウト", destroy_hairstylist_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "スタイリストログイン", new_hairstylist_session_path %></li>
            <% end %>
            <% if hairstylist_signed_in? %>
              <li><%= link_to "ヘアスタイルを投稿する", new_hairstylepost_path %></li>
            <% end %>
        </ul>
      </nav>
  </div>
</header>